<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";

const employeeStore = useEmployeeStore();
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="employeeStore.deleteDialog" persistent width="600">
      <v-card>
        <v-card-title class="text-h5"> Delete data. </v-card-title>
        <v-card-text> Are you sure you want to delete!!!</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            variant="text"
            @click="employeeStore.deleteDialog = false"
          >
            cancel
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="
              employeeStore.deleteEmployee(employeeStore.checkDialog),
                (employeeStore.deleteDialog = false)
            "
            >ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
